body{
    background-color: #245473;
}

.contenedor{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.borde-calculadora{
    width: 800px;
    height: 600px;
    border-radius: 10px;
    background-color: #EF466F;
}